<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
        <listener class-name="com.airtech.qa.utilities.ExtentReport"/>
    </listeners>
  <test thread-count="1" name="Test">
  
    
    <classes>
      <!--
      <class name="com.airtech.qa.testcases.ProductPageTest"/>
      <class name="com.airtech.qa.testcases.ProductDetailPageTest"/>
      <class name="com.airtech.qa.testcases.CartPageTest"/>
      <class name="com.airtech.qa.testcases.ForgotPasswordTest"/>
      <class name="com.airtech.qa.testcases.ContactPageTest"/>
      -->
      <class name="com.airtech.qa.testcases.LoginPageTest"/>
      <!--
      <class name="com.airtech.qa.testcases.ComparePageTest"/>
      <class name="com.airtech.qa.testcases.AccountInfoPageTest"/>
      <class name="com.airtech.qa.testcases.MyWishListPageTest"/>
      <class name="com.airtech.qa.testcases.RegistrationPageTest"/>
      <class name="com.airtech.qa.testcases.AddressPageTest"/>
      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
